.attendance__container {
    max-width: 680px;
    margin: 40px auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.attendance__status {
    font-size: 18px;
    background-color: #C8C8C8;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 24px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.attendance__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.attendance__date {
    font-size: 40px;
    margin-bottom: 8px;
}

.attendance__time {
    font-size: 80px;
    font-weight: bold;
}

.attendance__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.btn_attendance {
    width: 221px;
    height: 77px;
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn_rest {
    width: 221px;
    height: 77px;
    font-size: 32px;
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.attendance__end-message {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 32px;
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
    .attendance__container {
        width: 680px;
        margin: 40px auto;
    }
}