.certification__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;
}

.certification__form-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 48px;
}

.certification__form-btn input[type="submit"] {
    display: inline-block;
    padding: 8px 32px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #D9D9D9;
    color: black;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 48px;
    text-decoration: none;
    height: 69px;
    width: 257px;
}

.certification__form-mail input {
    background: none;
    border: none;
    font-size: 20px;
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .mypage__form-form {
        width: 80vw;
    }
}